ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#003D79;
} 
li{
	float:left;
}
li.email{
	float:right
}
li a{
	display:block;
	color:white;
	text-align:center;
	padding:10px 14px;
	text-decoration:none;
}
li a:hover:not(.active){
	background-color:gray;
}
li a.active{
	background-color:orange;
}
